@media (prefers-color-scheme: dark){
                body {color:#a9a9b3;background:#252627}
                a:link {color:#9cf}
                a:hover, a:visited:hover {color:#cef}
                a:visited {color:#c9f}
        }


        body{
                margin:1em auto;
                max-width:40em;
                padding:0 .62em;
                font:1.2em/1.62 sans-serif;
        }
				html {
    font-size: calc(1em + .33vw);
}
        h1,h2,h3 {
                line-height:1.2;
        }
        @media print{
                body{
                        max-width:none
                }
        }
        blockquote {color:#333333;margin:0;padding:0.2em 3em;border-left:0.2em orange solid;}
